- content_for :head do
  = stylesheet_link_tag "shelters", media: 'all'
  = javascript_include_tag "shelters"
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyB21xESS5tCZO5TLxjnLHFz7uQCBiq0fjw"}


#shelter-list-map.map
.info-banner
  %ul.info-icons
    %li
      = image_tag "find-logo.svg"
      %h1 Find Shelter
    %li
      = image_tag "rate-logo.svg"
      %h1 Review Shelter
    %li
      = image_tag "share-logo.svg"
      %h1 Share With Others

#shelter-list-container.grid-container{data: {shelters: @shelters.map(&:to_hash).to_json}}

%a.action-link.info-banner.medium.trackable{href: "https://docs.google.com/forms/d/1JYKfKsthrImBvPn7FvZQ_w3SRO2iPXOD7bhd1jj9YJM/viewform?edit_requested=true", target: "_blank"} Don't see a shelter here? Add one and rate it here!
/ #shelter-list-filter

/ %script#template-shelters-filter{type: :ractive}
/   %ul.toolbar
/     {{#if sortColumn == 'distance'}}
/     %li.toolbarItem.filter.sorted{:'on-tap' => 'sort:distance'} Distance
/     {{else}}
/     %li.toolbarItem.filter{:'on-tap' => 'sort:distance'} Distance
/     {{/if}}
/     {{#if sortColumn == 'rating'}}
/     %li.toolbarItem.filter.sorted{:'on-tap' => 'sort:rating'} Rating
/     {{else}}
/     %li.toolbarItem.filter{:'on-tap' => 'sort:rating'} Rating
/     {{/if}}
/     {{#if sortColumn == 'name'}}
/     %li.toolbarItem.filter.sorted{:'on-tap' => 'sort:name'} Alphabetical
/     {{else}}
/     %li.toolbarItem.filter{:'on-tap' => 'sort:name'} Alphabetical
/     {{/if}}

%script#template-shelters{type: :ractive}
  %ul#shelter-list.list
    {{#each sort(shelters, sortColumn):i}}
    {{>shelter}}
    {{/each}}

  {{#partial shelter}}
  %li.shelter-item
    %a{href: '/shelters/{{id}}'}
      %img.shelter-logo{src: '{{thumbnail}}', alt: '{{name}}'}
    %starRating{id: '{{id}}', rating: '{{rating}}', isEnabled: 'false'}
    %a.action-link.first.trackable{href: '/shelters/{{id}}'} More
    %a.action-link.last.trackable{href: '/shelters/{{id}}#rate'} Rate it!
    %blockquote.testimonial
      %img{src: '{{latest_testimonial.thumbnail}}'}
      %cite {{latest_testimonial.author_name}}
      %p {{& latest_testimonial.comment}}
  {{/partial}}

#bottom-photo.bottom.big

/ %p#notice= notice
/ %h1 Listing Shelters
/ %table
/   %thead
/     %tr
/       %th{:colspan => "3"}
/   %tbody
/     - @shelters.each do |shelter|
/       %tr
/         %td= link_to 'Show', shelter
/         %td= link_to 'Edit', edit_shelter_path(shelter)
/         %td= link_to 'Destroy', shelter, method: :delete, data: { confirm: 'Are you sure?' }
/ %br/
/ = link_to 'New Shelter', new_shelter_path
 

= render partial: "partials/map_tooltip", locals: {shelters: @shelters}