- content_for :head do
  = stylesheet_link_tag "shelter", media: 'all'
  = javascript_include_tag "shelter"
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyB21xESS5tCZO5TLxjnLHFz7uQCBiq0fjw"}

/ MAP
- location = @shelter.location
- center = {}
- unless location.nil?
  - center[:lat] = location.latlon[0]
  - center[:lon] = location.latlon[1]

#shelter-map.map{data: {center: center}}
/ END OF MAP

/ GRID
.grid-container
  %p.full-content #{@shelter.description}

  .shelter-content
    #rating{data: {rating: @shelter.rating, title: "Overall rating"}}
    %button#rate.main-button.full-button.trackable Add your rating
    
    - unless @shelter.need_to_know.nil?
      %blockquote#need-to-know
        %h1 Need to know:
        #{@shelter.need_to_know}

  .shelter-content
    %button.secondary-button.half-button.coming-soon.trackable What to bring
    %button.tertiary-button.half-button.coming-soon.trackable What to know
    #service-list.features
      %h1 Services
      %ul.feature-list
        - @shelter.services.each do |s|
          %li #{s}

    #filter-list.features
      %h1 Features
      %ul.feature-list
        - @shelter.filters.each do |f|
          %li #{f}

  .full-content
    %h1 What youth say
    %ul#testimonials.small-list
      - @shelter.sorted_testimonials.each do |t|
        %li.testimonial-item.list-item
          %img.testimonial.thumbnail{src: "#{t[:thumbnail]}"}
          %blockquote.testimonial
            %p
              != t.comment
            %footer
              %cite= t[:author_name]
              %i= t[:created_at].strftime(" on %m/%d/%y")

%script#template-modal-testimonial{type: :ractive}
  %section.grid-container
    %h1.modal-title How was #{@shelter.name}?
    %form#testimonial-form.vertical-form{"on-submit" => "submit"}
      %fieldset.full-field
        %starRating{id: '{{id}}', name: 'rating', title: 'Your overal rating: '}
      %fieldset.split-field
        %label{for: "testimonial-name"} Your name
        %input#testimonial-name.form-control{type: "text", name: "author_name", placeholder: "(Leave empty for anonymous)"}

      %fieldset.split-field
        %label{for: "testimonial-email"} Your email address
        %input#testimonial-email.form-control{type: "email", name: "author_email", placeholder: "We won't share it or abuse it."}

      %fieldset.full-field
        %label What services did you use at #{@shelter.name}?
        - @shelter.services.each do |s|
          %label.grid-field.normal
            = check_box_tag "#{s}", "#{s}"
            = s
        %label.grid-field.normal 
          Other:
          %input#other-service


      %fieldset.split-field
        %label{for: "testimonial-complaint"} Overall, any complaints?
        %textarea#testimonial-complaint.form-control{name: "complaint", rows: "4", columns: "40", placeholder: "(Dirty bed? Rude staff? Make your mark here! Let other youth know!)"}
      
      %fieldset.split-field
        %label{for: "testimonial-compliment"} Overall, any compliments?
        %textarea#testimonial-compliment.form-control{name: "compliment", rows: "4", columns: "40", placeholder: "(LGBTQ Friendly Environment? How was the staff? Did you get the job training you were looking for? )"}

      %fieldset.full-field
        %label{for: "testimonial-tips"} Anything else others like you should know before they show up?
        %textarea#testimonial-tips.form-control{name: "tips", rows: "4", placeholder: "What tips, tricks and/or advice can you share about going here? What should others know to bring? Help people like you navigate the system!"}
    %button.full-button.main-button{"on-tap" => "submit"} Share your testimonial!

%script#template-map-tooltip{type: "text/template"}
  %h1 #{@shelter.name}
  - unless @shelter.location.nil? || @shelter.location.street.nil?
    %address #{@shelter.location.street}
  - unless @shelter.phone.nil?
    %a{href: "tel:#{@shelter.phone}"} #{@shelter.phone}
  - unless @shelter.website.nil? 
    %a{href: "#{@shelter.website}"} #{@shelter.website}
  
= render partial: "partials/map_tooltip", locals: { shelters: [@shelter] }