- content_for :head do
  = stylesheet_link_tag "shelter", media: 'all'
  = javascript_include_tag "shelter"
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyB21xESS5tCZO5TLxjnLHFz7uQCBiq0fjw"}


%h1.big-name #{@shelter.name}
.reviews
  #rating.rating{data: {rating: @shelter.rating}}
  %a.flag{href: "#report"} Report a problem
%p #{@shelter.description}
#shelter-map{data: {center: {lat: @shelter.location[0], lng: @shelter.location[1]}}}

%ul#testimonials.small-list
  - @shelter.testimonials.each do |t|
    %li.list-item
      .vote-info
        %button.vote-button.up
          %i.fa.fa-arrow-up
          #{rand(100)}
        %button.vote-button.down
          %i.fa.fa-arrow-down
          #{rand(100)}
      %blockquote.testimonial
        = t[:comment]
        %footer
          %cite= t[:author_name]
/ %p#notice= notice
/ = link_to 'Edit', edit_shelter_path(@shelter)
/ |
/ = link_to 'Back', shelters_path
