!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Caravan
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :head
    = csrf_meta_tags
  %body
    .header
      %h1 Caravan
      %ul.nav
        %li= link_to 'About', '/about'
        %li= link_to 'Contact', '/contact'
        %li= link_to 'List a shelter', '/shelters/create'
    = yield