!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type", "content" => "initial-scale = 1.0,maximum-scale = 1.0"}/
    %title Caravan
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :head
    = csrf_meta_tags
    :javascript
      +function(l,y,t,i,c,s) {
          l['LocalyticsGlobal'] = i;
          l[i] = function() { (l[i].q = l[i].q || []).push(arguments) };
          l[i].t = +new Date;
          (s = y.createElement(t)).type = 'text/javascript';
          s.src = '//web.localytics.com/v3/localytics.js';
          (c = y.getElementsByTagName(t)[0]).parentNode.insertBefore(s, c);
          ll('init', 'f7ecf3fc1a8fce26991ae0e-9aee16d8-d8bf-11e4-b055-009c5fda0a25', {
            trackPageView: true
          });
      }(window, document, 'script', 'll');
  %body
    .header
      %a{href: "/"}
        .logo
          %p.motto A site for homeless LGBTQ youth to find, review and share shelters.
      %ul.nav
        %li.trackable
        %a.trackable{href: "https://docs.google.com/forms/d/1JYKfKsthrImBvPn7FvZQ_w3SRO2iPXOD7bhd1jj9YJM/viewform?edit_requested=true", target: "_blank"} List a shelter
    = yield

    .footer
      %hr.logo-line.left
      %hr.logo-line.right
      .logo
      %p 
        Got questions? Feedback? Email
        %a{href: "mailto:info@hoponcaravan.com"}
          info@hoponcaravan.com
