!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Caravan
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :head
    = csrf_meta_tags
    :javascript
      +function(l,y,t,i,c,s) {
          l['LocalyticsGlobal'] = i;
          l[i] = function() { (l[i].q = l[i].q || []).push(arguments) };
          l[i].t = +new Date;
          (s = y.createElement(t)).type = 'text/javascript';
          s.src = '//web.localytics.com/v3/localytics.js';
          (c = y.getElementsByTagName(t)[0]).parentNode.insertBefore(s, c);
          ll('init', 'f7ecf3fc1a8fce26991ae0e-9aee16d8-d8bf-11e4-b055-009c5fda0a25', {
            trackPageView: true
          });
      }(window, document, 'script', 'll');
  %body
    .header
      %a{href: "/"}
        .logo
          %p.motto Helping homeless LGBTQ youth help each other find safe shelter, faster.
      %ul.nav
        %li.trackable= link_to 'List a shelter', '/shelters/create'
    = yield

    .footer
      %hr.logo-line.left
      %hr.logo-line.right
      .logo
      %p 
        Got questions? Feedback? Email
        %a{href: "mailto:info@hoponcaravan.com"}
          info@hoponcaravan.com
